<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1>All users</h1>
			<table class="table table-hover">
				<thead>
					<tr>
						<td></td>
						<td>id</td>
						<td>name</td>
						<td>surname</td>
						<td>date of birth</td>
						<td>mobile number</td>
						<td>adress (city + street + house number)</td>
						<td>
							<button class="btn btn-primary" ng-click="vm.editMultiply()">
								<i class="glyphicon glyphicon-edit"></i> 
								Edit selected
							</button>
						</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="user in vm.users">
						<td><input type="checkbox" ng-model="user.selected" ng-click="vm.check(user)" /></td>
						<td>{{ user.id }} </td>
						<td>
							<span editable-text="user.name" e-name="name" e-form="rowform" onbeforesave="checkName($data, user.id)" e-required>
								{{ user.name }}
							</span>
						</td>
						<td>
							<span editable-text="user.surname" e-name="surname" e-form="rowform" onbeforesave="checkName($data, user.id)" e-required>
								{{ user.surname }}
							</span>
						</td>
						<td>
							<span editable-text="user.birthday" e-name="birthday" e-form="rowform" onbeforesave="checkName($data, user.id)" e-required>
								{{ user.birthday }}
							</span>
						</td>
						<td>
							<span editable-text="user.mnumber" e-name="mnumber" e-form="rowform" onbeforesave="checkName($data, user.id)" e-required>
								{{ user.mnumber }}
							</span>
						</td>
						<td>
							<span editable-text="user.address" e-name="address" e-form="rowform" onbeforesave="checkName($data, user.id)" e-required>
								{{ user.address }}
							</span>
						</td>
						<td>
							<form editable-form name="rowform" onbeforesave="vm.saveUser($data, user.id)" ng-show="rowform.$visible" class="form-buttons form-inline">
								<div class="btn-group">
									<button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
									<button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-danger"><i class="glyphicon glyphicon-arrow-left"></i> Cancel</button>
								</div>
							</form>
							<div class="btn-group" ng-show="!rowform.$visible">
								<button class="btn btn-primary" ng-click="rowform.$show()"><i class="glyphicon glyphicon-edit"></i> Edit</button>
								<button class="btn btn-danger" ng-click="vm.removeUser($index)"><i class="glyphicon glyphicon-remove"></i> Delete</button>
							</div>  
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>